* {
    overflow: hidden;
}

.Log {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, #8A5BFE 0%, rgba(255, 255, 255, 0) 100%), #ED6097;
}

.blockLog {
    display: flex;
    width: 500px;
    height: 80vh;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10px;
    background: rgba(52, 32, 74, 0.26);
    border-radius: 50px;
    justify-content: center;

}

.LogIn {
    color: #FFFFFF;
    justify-content: flex-end;
}

.p1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-align: center;

    color: #FFFFFF

}

.input1 {
    width: 220px;
    height: 25px;

    background: #FFFFFF;
    border-radius: 38px;
    border: none;
    outline: none;
}

.p2 {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-align: center;

    color: #FFFFFF
}


.input2 {
    width: 220px;
    height: 25px;

    background: #FFFFFF;
    border-radius: 57px;
    border: none;
    outline: none;
}


.buttonL {
    margin-top: 30px;
    width: 110px;
    height: 35px;
    cursor: pointer;

    border: none;
    outline: none;
    background: rgba(40, 234, 36, 0.83);
    border-radius: 27px;
}