* {
    overflow: hidden;
}
.log{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, #8A5BFE 0%, rgba(255, 255, 255, 0) 100%), #ED6097;
}
h1{
    margin-bottom: 10px;
    font-size: 36px;
}
.main-sign-block{
    width: 500px;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(52, 32, 74, 0.26);
    border-radius: 50px;
}
.main-sign-block > form{
    height: 100%;
    width: 100%;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
}
.main-sign-block > form > div{
    height: 100px;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.main-sign-block > form > div > span{
    color: white;
}
form > button{
    width: 150px;
    height: 40px;
    background: rgba(0, 111, 214, 0.74);
    border-radius: 917px;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
    font-size: 16px;
}
.bottomSpan {
    margin-bottom: 15px;
}