*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
Main{
    display: none;
}
.container{
    width: 100%;
    height: 100vh;
    overflow: none;
    display: flex;
    background: linear-gradient(180deg, #8A5BFE -25%, rgba(255, 255, 255, 0) 100%), #ED6097;
}
.left-sidebar{
    width: 250px;
    height: 100vh;
    background: #34204A;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}
.search {
    width: 85%;
    height: 35px;
    background: white;
    border-radius: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 10px;
}
.search-icon{
    filter: invert(1) brightness(0);
    margin-right: 5px;
}
input{
    background:transparent;
    outline: none;
    border: none;
    padding-top: 1px;
}
.search-text{
    color: #616A6B;
    text-align: center;
    font-size: 34px;
}
.menu-items{
    height: 150px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.bottom-menu-rows{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 20px;
}
.bottom-menu-rows > span{
    color: white;
    cursor: pointer;
}
.bottom-menu-rows > img{
    margin-right: 10px;
}
.songInfo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: calc(100% - 250px);
    height: 100vh;
    padding-top: 5px;
}
.songPlayInfo{
    width: 80%;
    height: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.song-name{
    color: white;
    margin-bottom: 5px;
}
.progressBar{
    width: 93%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}
.progressBar > .bar{
    width: 95%;
    background: #fff;
    height: 45%;
    border-radius: 100px;
    margin-right: 5px;
}
.progressBar > span{
    font-size: 12px;
    color: white;
}
.pauseAndPlay{
    width: 550px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 5px;
}
.pauseAndPlay > img{
    margin-right: 20px;
    margin-left: 20px;
}
.pauseAndPlay > button{
    background: #7C45ff;
    box-shadow: 0px 4px 10px 5px #7c45ff;
    cursor: pointer;
    width: 200px;
    height: 30px;
    border-radius: 15px;
    padding-top: 5px;
    outline: none;
    border: none;
    color: white;
    font-size: 18px;
}
.sound-footer{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.sound{
    width: 200px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sound > img{
    margin-right: 5px;
}
.slider-sound{
    width: 100px;
    cursor: pointer;
    transition: .2s all;
}
.yourPlaylist{
    width: 55%;
    height: 55vh;
    border: 1px solid white;
    overflow: scroll;
   overflow-x: hidden; 
}
.yourRow{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
}
.yourPlayName, .countSong{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.countSong > span{
    margin-right: 5px;
}
.yourPlayName > span, .countSong > img{
    cursor: pointer;
}
.sound-icon, .search-icon{
    width: 24px;
}
